* {
  box-sizing: border-box;
}

body {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
}

h1 {
  font-size: 50px;
}

#d-day-container {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 15px;
}

.d-day-child-container,
.d-hour-child-container,
.d-min-child-container,
.d-sec-child-container {
  padding: 5px;
}

div.input {
  display: flex;
  flex-direction: row;
}

input.target_input {
  margin-right: 5px;
  margin-left: 5px;
  width: 50px;
}
